@import "bootstrap";
/*
.home {
  margin-top: 100px;
}
*/

body {
  background-color: #D2D1D0;
}

.main {
  padding-top: 20px;
}

input[type="text"], textarea {
    width:500px;
    padding: 3px;
    border: none;
    }

textarea {
  height: 200px;
  resize: vertical;
}

input, textarea, label, select {
  color: #333;
  font-family: 'Noto Sans', sans-serif;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Sans', sans-serif;
  line-height: 1;
  margin: 20px 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
}

p, th, td {
  font-size: .9em;
  line-height: 1.25em;
}

/* header */

#logo {
  color: #FFF;
  float: left;
  font-family: 'Roboto Sans', sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-right: 10px;
  padding-top: 9px;
}

#logo:hover {
  color: #FFF;
  text-decoration: none;
}

/* footer */

footer {
  color: #FFF;
  border-top: 1px solid #EAEAEA;
  font-size: 12px;
  margin-top: 45px;
  padding-top: 5px;
}

.home_container {
  background-color: #EBEBEB;
  line-height: 30px;
  margin: 30px 0;
  padding: 60px;
}

.home_container h1 {
  letter-spacing: 2px;
}

.home_container h3, h4, h5, h6 {
  letter-spacing: -1px;
}


.products_grid {
  margin-top: 20px;
  min-height: 250px;
  width: 150px;
}

.img_container {
  background-color: #FFF;
  border: 1px solid #EBEBEB;
  height: 125px;
  padding: 5px;
  margin: auto;
  width: 125px;
}

.product_item_container {
  background-color: #FCFCFC;
  border: 1px solid #BEBEBE;
  display: inline-block;
  float: left;
  height: 275px;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 170px;
}

.product_detail_container {
  padding: 20px 10px 0 20px;
}

.cart_container {
  background-color: #FCFCFC;
  border: 1px solid #BEBEBE;
  margin-left: 15px;
  padding: 7px;
}

.cart_detail_container {
  margin-top: 20px;
  min-height: 200px;
}

.cart_detail_container th {
  padding-bottom: 10px;
  text-align: left;
}

.col_item {
  width: 150px;
}

.col_btn {
  width: 30px;
}

.price_txt {
  padding-right: 10px;
}

.total_amt {
  border-top: 1px solid #999;
  padding-right: 10px;
  padding-top: 10px
}

.show_image {
  background-color: #FFF;
  border: 1px solid #EBEBEB;
  height: 300px;
  padding: 5px;
  text-align: center;
  width: 300px;
}

.reviews {
  background-color: #FCFCFC;
  padding: 15px;
}

.reviews_container {
  margin-bottom: 40px;
}

.back_btn {
  margin-left: 0;
  padding-top: 15px;
}

.delete_cart {
  text-align: center;
  width: 25px;
}

.icon-small {
  background-image: url("delete-icon.png");
  height: 20px;
  width: 20px;
}