<% title "Home" %>
<div class="center hero-unit">
  <h3>Welcome to</h3>
  <h1>The Rails Shop</h1>

  <h3>This is the home page for the application.</h3>

  <%= link_to "Enter Store", '/products', class: "btn btn-large btn-primary" %>
</div>


<div class="span12 home">
  <div class="span6">
    <%= link_to 'Products', products_path %>
  </div>
  <div class="span6">
    <%= link_to 'Reviews', reviews_path %>
  </div>
</div>