<% title "Home" %>
<div class="center home_container">
  <h3>Welcome to</h3>
  <h1>The Rails Shop</h1>

  <h4>Home of curiously random stuff.</h4>

  <%= link_to "Browse Around", '/products', class: "btn btn-large" %>
</div>


