<% title "#{@product.name}"%>
<h2 class="center bold">Editing: <%= @product.name %></h2>

<%= render 'form' %>

<%#= link_to 'Show', @product %>
<p><%= link_to 'Back to Products', products_path, :class => "btn btn-small" %></p>
